<?xml version="1.0"?>
<launch>
    <node pkg="ros_lut_tool" type="ros_lut_tool" name="ros_lut_tool" output="screen" >
        <remap from="/ros_lut_tool/image_in" to="/usb_cam/image_raw" />
        <!-- <remap from="/robocup_detector_node/LUT_data" to="/vision_monitor_node/LUT_data" /> -->
        <!-- param: ball_config_path -->
    </node>
</launch>